main {
    padding: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main img {
    padding: 2%;
    height: 300px;
    width: 300px;
    border-radius: 7px;
    object-fit: cover;
}

